
<div class="container">

	<br>

	<div class="col col-md-4 pull-left">
		<button ng-click="vmEditor.clear()" class="btn btn-danger">
			Clear ALL items in {{ vmEditor.type }}
		</button>
	</div>

	<div class="col col-md-4 pull-right form-group">

		<label>Select Storage type:</label>
		<select ng-model="vmEditor.type"
			ng-options="item as item for item in vmEditor.storage_types"
			ng-change="vmEditor.changeType(item)"
			class="form-control">
		</select>

	</div>

	<br><br>
	<h3>{{ vmEditor.type }} collection:</h3>

	<table class="table col col-md-6">
		<tr>
			<th class="col-md-2">Key</th>
			<th class="col-md-19">Value</th>
			<th class="col-md-1"></th>
		</tr>
		<tr ng-repeat="(key, storage_value) in vmEditor.storage">
			<td>{{ key }}</td>
			<td>
				<textarea type="text" ng-model="vmEditor.storage[key]" class="form-control"></textarea>
			</td>
			<td>
				<button ng-click="vmEditor.deleteItem(key)" class="btn btn-sm btn-danger">Remove</button>
			</td>
		</tr>
	</table>

	<div class="col col-md-6" ng-form novalidate name="addForm">
		<h3>Add New Item:</h3>

		<input ng-model="vmEditor.newItem.key" class="form-control" placeholder="Key" required><br>
		<textarea ng-model="vmEditor.newItem.val" class="form-control" placeholder="Value" rows="7" required></textarea><br>

		<button ng-click="vmEditor.addItem(vmEditor.newItem)"
			ng-disabled="!addForm.$valid"
			class="btn btn-success">
			Add to {{ vmEditor.type }}
		</button>

</div>
